<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff-main-page</title>

    <!-- icons links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- icons links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Klee+One:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Changa:wght@300&family=Fredoka+One&family=Klee+One:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Changa:wght@300&family=Fredoka+One&family=Klee+One:wght@600&family=Trocchi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital@1&family=Secular+One&display=swap" rel="stylesheet">

    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">



</head>

<body>

    <div class="container-fluid whole-section-staffmain">

        <!-- top heading -->
        <section>
            <h1 class="head text-dark">Work Room</h1>
        </section>

        <hr>
        <!-- card -->
        <section id="card-section">
            <div class="card-whole container-fluid">
                <div class="row">
                    <div class="event-whole">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4  pair">
                                <button class="icons">
                                <i class=" fas fa-book"style="font-size:36px"></i>                                
                                </button>
                                <p class="events">Assigment</p>
                            </div>

                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 pair">
                                <button class="icons">
                                <i class="fas fa-edit" style="font-size:36px"></i></button>
                                <p class="events">
                                    </i>Test</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 pair">
                                <button class="icons">                                    
                                <i class="fas fa-share-square" style="font-size:36px" ></i>
                            </button>
                                <p class="events">Create</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </section>



    </div>


    <!-- <script src="main.js"></script> -->
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>

</body>

</html>